body {
    background-color: #d5d5d5;
    
}

.container {
    background-color: white;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-shadow: 0px 10px 50px #858585;
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 5%;
    row-gap: 30px;
    position: relative;
    overflow: hidden;
}

.left-column {
    background-color: #033452; /* Màu xanh dương đậm cho khối 1 và 3 */
    padding: 10px;

}

.right-column {
    background-color: white; /* Màu trắng cho khối 2 và 4 */
    padding: 10px;
}

.avatar img {
    width: 250px;
    height: 250px;
    border-radius: 100;
    object-fit: cover;
    padding-left: 40px;
    padding-top: 10px;
}

.avatar {
    display: flex;
    justify-self: center;
}

.name {
    padding-left: 10px;
    padding-top: 30px;
}
.name h1 {
    color:#033452
}
.name .underline {
    border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
    border-bottom: 10px solid #033452;
    width: 750px; /* Chiều rộng của đường gạch ngang */
    margin-top: 5px; /* Khoảng cách từ trên xuống */
    margin-left: 250px;
}
.about{
    color : white;
}
.contact{
    color: white;
}
.name h1{
    font-weight: 300;
    font-size: xxx-large;
    margin: 0 0 5px;
}
.name .specialize{
    margin: 0;
    font-weight: bold;
    letter-spacing: 3px;
}


.aboutmyself .about{
    padding-top: 70px;
    padding-left: 30px;
    list-style: none; /* bỏ dấu list ở trước đi */   
}
.aboutmyself .about h2{
    margin-bottom: 5px;
}

.aboutmyself .about .underline {
    border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
    border-bottom: 2px solid white;
    width: 135px; /* Chiều rộng của đường gạch ngang */
    margin-top: 5px; /* Khoảng cách từ trên xuống */
    margin-right: 150px;
}
.aboutmyself .about .about-text{
    padding-top: 10px;
}


.aboutmyself .contact{
    list-style: none; /* bỏ dấu list ở trước đi */
    color :white;
    padding-top: 50px;
    padding-left: 30px; 
}
.aboutmyself .contact h2{
    margin-bottom: 5px;
}
.aboutmyself .contact .underline {
    border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
    border-bottom: 2px solid white;
    width: 125px; /* Chiều rộng của đường gạch ngang */
    margin-top: 5px; /* Khoảng cách từ trên xuống */
    margin-right: 150px;
}
.aboutmyself .contact .contact-text{
    padding-top: 5px;
}
.aboutmyself .contact li{
    padding: 5px 0 5px 0;
}
.aboutmyself .contact-text i {
    font-size: 1.5em; /* Điều chỉnh kích thước của biểu tượng (lớn hơn) */
    margin-right: 5px; /* Tạo khoảng cách với dòng chữ bên phải (cách phải) */
    vertical-align: middle; /* Căn chỉnh dọc giữa để biểu tượng và dòng chữ cùng căn giữa */
}

.interests {
    color :white;
    padding-top: 50px;
    padding-left: 30px;
}
.left-column .interests h2{
    margin-bottom: 5px;
}
.interests .underline {
    border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
    border-bottom: 2px solid white;
    width: 125px; /* Chiều rộng của đường gạch ngang */
    margin-top: 5px; /* Khoảng cách từ trên xuống */
    margin-right: 150px;
}
.interests .container3{
    display: flex;
    margin-top: 15px;
}
.interests .container3 .left-column2 .text1 li{ 
    list-style: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.interests .container3 .right-column2 .text2 li{
    list-style: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.interests .container3 .left-column2{
    flex: 60%;
    padding-right: 10px; 
}
.interests .container3 .right-column2{
    flex: 40%;
    padding-right: 10px; 
}

.hobbies {
    color :white;
    padding-top: 50px;
    padding-left: 30px; /* Căn giữa các biểu tượng */
}
.left-column .hobbies h2{
    margin-bottom: 5px;
}
.hobbies .underline {
    border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
    border-bottom: 2px solid white;
    width: 110px; /* Chiều rộng của đường gạch ngang */
    margin-top: 5px; /* Khoảng cách từ trên xuống */
    margin-right: 150px;
}
.hobbies i {
    font-size: 30px; /* Điều chỉnh kích thước của biểu tượng */
    margin: 30px; 
    margin-top: 35px;
    margin-left: 15px;;/* Tạo khoảng cách giữa các biểu tượng */
    color: #fff; /* Màu biểu tượng (trắng) */
}


.intro{
    padding-top: 45px;
}
.right-column .intro .intro1 h2 {
    margin-bottom: 5px;
    color: #033452;
}
.right-column .intro1 .underline {
    border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
    border-bottom: 2px solid #033452;
    width: 255px; /* Chiều rộng của đường gạch ngang */
    margin-top: 5px; /* Khoảng cách từ trên xuống */
    margin-right: 150px;
}
.right-column .intro1 p{
    margin-right: 5px;
}
.intro2 {
    display: flex;
}


.left-column1 {
    flex: 50%;
    background-color: white ;/* Màu nền cho phần "EDUCATION" */
    padding-right: 10px; /* Tạo khoảng cách và định dạng */
}

.right-column1 {
    flex: 50%;
    background-color: white; /* Màu nền cho phần "TECHNOLOGY" */
    padding-right: 10px; /* Tạo khoảng cách và định dạng */
}
.intro2 .left-column1 h2 {
    color:#033452 ;
    margin-bottom: 5px ;
}
.intro2 .left-column1 .underline {
        border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
        border-bottom: 2px solid #033452;
        width: 150px; /* Chiều rộng của đường gạch ngang */
        margin-top: 5px; /* Khoảng cách từ trên xuống */
        margin-right: 150px;
}
.intro2 .right-column1 h2 {
    color:#033452  ;
    margin-bottom: 5px ;
}
.intro2 .right-column1 .underline {
    border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
    border-bottom: 2px solid #033452;
    width: 190px; /* Chiều rộng của đường gạch ngang */
    margin-top: 5px; /* Khoảng cách từ trên xuống */
    margin-right: 150px;

}
.intro2 .left-column1 .education-text1{
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
}
.intro2 .left-column1 .education-text1 h4 {
    margin-bottom: 0px;
}
.intro2 .left-column1 .education-text1 p {
    margin-top: 0px;
}
.intro2 .left-column1 .education-text2 li{
    margin-left: 40px;
    margin-right: 10px;
    list-style: none;
    font-weight: bold;
}
.intro2 .left-column1 .education-text3{
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
}
.intro2 .left-column1 .education-text3 h4 {
    margin-bottom: 0px;
    font-weight: bold;
}
.intro2 .left-column1 .education-text3 li{
    list-style: none;
}
.intro2 .right-column1 p{
    margin-right: 35px;
}
.intro3{
    padding-top: 30px;
}
.intro3 h2 {
    color:#033452 ;
    margin-bottom: 5px ;
}
.intro3 .underline {
        border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
        border-bottom: 2px solid #033452;
        width: 160px; /* Chiều rộng của đường gạch ngang */
        margin-top: 5px; /* Khoảng cách từ trên xuống */
        margin-right: 150px;
}
.intro3 h3 {
    color:#033452 ;
    margin-bottom: 5px ;
}
.intro3 h4 {
    margin-bottom: 5px ;
    margin-top: 0px;
    padding-right: 350px;
    font-size: 18px;
    font-weight:lighter;
}
.intro3 p{
    margin-bottom: 5px ;
    margin-top: 0px;
    margin-right: 100px;
    font-size: 16px;
}

.intro3 ul {
    list-style-type: none; /* Loại bỏ dấu chấm mặc định */
    margin-top: 0px;
    padding-left: 0px;
    margin-right: 100px;
}

.intro3ul li {
    margin-bottom: 5px ;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 10px;
}

.intro3 .larger-dot::before {
    content: "•"; /* Đặt nội dung trước mục */
    font-size: 20px; /* Điều chỉnh kích thước của dấu chấm */
    padding-right: 5px; /* Tạo khoảng cách giữa dấu chấm và nội dung */
    margin-top: 0px;
}

.intro4 .container4{
    display: flex;
}
.intro4 .container4 .left-column4 {
    flex:50%;
    background-color: white; /* Màu nền cho phần "TECHNOLOGY" */
    padding-right: 10px;
}
.intro4 .container4 .right-column4 {
    flex:50%;
    background-color: white; /* Màu nền cho phần "TECHNOLOGY" */
    padding-right: 10px;
}
.intro4 .container4 .left-column4 h2{
    color:#033452  ;
    margin-bottom: 5px ;
}
.intro4 .container4 .left-column4 .underline {
    border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
    border-bottom: 2px solid #033452;
    width: 150px; /* Chiều rộng của đường gạch ngang */
    margin-top: 5px; /* Khoảng cách từ trên xuống */
    margin-right: 150px;

}
.intro4 .container5{
    margin-top: 10px;
}
.intro4 .container5 {
    display: flex;
}
.intro4 .container5 .left-column5{
    flex:50%;
    background-color: white; /* Màu nền cho phần "TECHNOLOGY" */
    padding-right: 5px;
}
.intro4 .container5 .right-column5{
    flex:50%;
    background-color: white; /* Màu nền cho phần "TECHNOLOGY" */
    padding-right: 5px;
}
.intro4 .container5 .left-column5 li{
    padding-left: 0px;
    list-style: none;
    margin-bottom: 5px;
    margin-right: 100px;
}

.intro4 .container4 .right-column4 h2{
    color:#033452  ;
    margin-bottom: 5px ;
}
.intro4 .container4 .right-column4 .underline {
    border: none; /* Loại bỏ đường gạch ngang mặc định của phần tử hr */
    border-bottom: 2px solid #033452;
    width: 95px; /* Chiều rộng của đường gạch ngang */
    margin-top: 5px; /* Khoảng cách từ trên xuống */
    margin-right: 150px;

}
.intro4 .right-column4 .container6{
    margin-top: 10px;
}
.intro4 .right-column4 .container6 {
    display: flex;
}
.intro4 .right-column4 .container6 .left-column6{
    flex:50%;
    background-color: white; /* Màu nền cho phần "TECHNOLOGY" */
    padding-right: 10px;
}
.intro4 .right-column4 .container6 .right-column6{
    flex:50%;
    background-color: white; /* Màu nền cho phần "TECHNOLOGY" */
    padding-right: 10px;
}
.intro4 .right-column4 .container6 .left-column6 li{
    padding-left: 0px;
    list-style: none;
    margin-bottom: 5px;
    margin-right: 120px;
}
